company lead.json
{
  "name": "company",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1XEnS2AdcuCqxZb6SmVz8yumMMOb4bciV",
          "mode": "list",
          "cachedResultName": "Company",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1XEnS2AdcuCqxZb6SmVz8yumMMOb4bciV"
        },
        "event": "fileCreated",
        "options": {
          "fileType": "all"
        }
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -496,
        -32
      ],
      "id": "66178aa8-b9ad-4760-9789-808e0f85f308",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "s8sRe64aEGVEIUdL",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "company",
          "mode": "list",
          "cachedResultName": "company"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -80,
        -32
      ],
      "id": "f06b2cc3-3b8b-4ff2-8007-e96a5bd33af8",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "86Vjj5njVCDn1wTX",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -80,
        176
      ],
      "id": "99efb177-c2c9-4df4-9036-7de82d33b4a9",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkOverlap": 20,
        "options": {
          "splitCode": "markdown"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        -80,
        352
      ],
      "id": "66af70d0-e261-42d9-a255-1e652ebfed16",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -272,
        -32
      ],
      "id": "a3f3d5db-984c-4b0d-b262-51d3ec6a0844",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "s8sRe64aEGVEIUdL",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "natnaelm552@gmail.com",
        "subject": "Knowledge base update",
        "message": "The knowledge base about the company has been updated",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        432,
        -16
      ],
      "id": "d226e1f1-4891-48d1-bd82-62ada5ffe952",
      "name": "Send a message",
      "webhookId": "2d3a4b27-a84b-44aa-98f4-0609f2904ead",
      "credentials": {
        "gmailOAuth2": {
          "id": "Hu5pS7OJJLdiLKTU",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "wait"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 1,
      "position": [
        240,
        -16
      ],
      "id": "245408ca-642c-431e-aa93-6cf633da8e3e",
      "name": "Merge (Wait All)"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        640,
        208
      ],
      "id": "049dd2f7-aed1-49db-a08e-42a223106a9c",
      "name": "When chat message received",
      "webhookId": "1245ac4b-d610-4a3a-8677-aea34e37c95c"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=Role\n\nYou are a retrieval system designed to find the most semantically relevant information to a user's query from a knowledge base.\n\nYou embed the user's query using Cohere’s embed-english-v3.0 model with input_type = \"search_query\".\nDocuments in the knowledge base are embedded with input_type = \"search_document\".\n\nYou compare vectors using cosine similarity and return the top matches based on semantic meaning, not exact keywords.\n\nTask\n\nYou answer questions about the business accurately and concisely.\n\nTools\n\nVector Store → Use this to retrieve and answer business-related queries.\n\nSheets → Use this to store customer details such as:\n\nName\n\nEmail\n\nInterests\n\nPhone number\n\nInstructions\n\nWhen a customer asks about opening hours, products, location, or other business information:\n\nRetrieve the most relevant information from the vector store.\n\nProvide a clear and polite answer.\n\nAfter answering, politely request the following details:\n\nName\n\nEmail\n\nSpecific interests\n\nPhone number\n\nSave these details in Sheets."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        848,
        -96
      ],
      "id": "04668fbc-e037-4f72-980b-ea3bb408dcf5",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        848,
        208
      ],
      "id": "119b733a-a37e-49a2-b890-7b49f8d2cb65",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "ePTTLiwYhEiCJj4H",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        944,
        112
      ],
      "id": "f4f0942c-03a1-4233-ab16-a1ae17740d31",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "description": "={{ $json.chatInput }}",
        "topK": 5
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        1168,
        128
      ],
      "id": "9cf7558c-25e5-4bab-ae8e-4789b7c1ddeb",
      "name": "Answer questions with a vector store"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1504,
        272
      ],
      "id": "63795dc3-61a7-4651-bbe2-8caea5d82078",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "ePTTLiwYhEiCJj4H",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "modelName": "embed-english-v3.0"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsCohere",
      "typeVersion": 1,
      "position": [
        -240,
        192
      ],
      "id": "ac036858-5b2f-4e37-b8cc-5d4712446120",
      "name": "Embeddings Cohere",
      "credentials": {
        "cohereApi": {
          "id": "Qnz4X6svJzEn5umc",
          "name": "CohereApi account 2"
        }
      }
    },
    {
      "parameters": {
        "modelName": "embed-english-v3.0"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsCohere",
      "typeVersion": 1,
      "position": [
        1088,
        448
      ],
      "id": "ac4bac3d-652c-4320-86fb-3c4d251f5467",
      "name": "Embeddings Cohere2",
      "credentials": {
        "cohereApi": {
          "id": "Qnz4X6svJzEn5umc",
          "name": "CohereApi account 2"
        }
      }
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "company",
          "mode": "list",
          "cachedResultName": "company"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        1088,
        304
      ],
      "id": "b2e0eedd-c2eb-4c03-a233-70e876a4e314",
      "name": "habeshatech",
      "credentials": {
        "pineconeApi": {
          "id": "86Vjj5njVCDn1wTX",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1N-1l6wA9Ny73ZlH8l47WFVDeqmxFEkdm2zdOJaLirW8",
          "mode": "list",
          "cachedResultName": "habeshatech",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1N-1l6wA9Ny73ZlH8l47WFVDeqmxFEkdm2zdOJaLirW8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1N-1l6wA9Ny73ZlH8l47WFVDeqmxFEkdm2zdOJaLirW8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Name', ``, 'string') }}",
            "Email": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Email', ``, 'string') }}",
            "Phone Number": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Phone_Number', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Phone Number",
              "displayName": "Phone Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        1456,
        32
      ],
      "id": "058d050f-2501-47d7-b16a-de0f88fe8e4e",
      "name": "Append row in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "wx6psFW5KwTw40cV",
          "name": "Google Sheets account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "main": [
        [
          {
            "node": "Merge (Wait All)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge (Wait All)": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Answer questions with a vector store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Cohere": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Cohere2": {
      "ai_embedding": [
        [
          {
            "node": "habeshatech",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "habeshatech": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    },
    "Append row in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "83e42f16-3ca0-409b-9f75-bf40c24be2da",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1754f794c53fad2bfe6db86c90811c562737e17002dd76c1e1c2eedd3f76e240"
  },
  "id": "p3CkF3Pirq2Eb5jT",
  "tags": []
}